.filebox .upload-name {
  display: flex;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border-bottom: 1px solid #000000;
  width: 78%;
  color: #000000;
}

.filebox label {
  display: flex;
  color: #fff;
  vertical-align: middle;
  background-color: #000000;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  font-family: Pretendard;
  font-weight: 500;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
}
